In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data = pd.read_csv('Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

we r showing here it is purchased or not with the using 
features Age and Estimated salay

In [5]:
real_x = data.iloc[:,[2,3]].values
real_y = data.iloc[:,4].values

In [6]:
print(real_x.shape, real_y.shape)

(400, 2) (400,)

firstly apply logistic regression,KNN  then we move to apply MLP Neural Newrok

In [7]:
# perform spilt the dataset
from sklearn.model_selection import train_test_split

In [8]:
X_train , X_test, y_train, y_test = train_test_split(real_x,real_y, test_size=0.2, random_state=0)

In [9]:
print(X_train.shape, X_test.shape,y_train.shape, y_test.shape)

(320, 2) (80, 2) (320,) (80,)

In [11]:
# perform scaling for convert the value into -2 to +2 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [13]:
print(X_train[:5]) 
print(X_test[:5])

[[ 1.92295008  2.14601566]
 [ 2.02016082  0.3787193 ]
 [-1.3822153  -0.4324987 ]
 [-1.18779381 -1.01194013]
 [ 1.92295008 -0.92502392]]
[[-0.49618606  0.56021375]
 [ 0.2389044  -0.59133674]
 [-0.03675452  0.18673792]
 [-0.49618606  0.31122986]
 [-0.03675452 -0.59133674]]

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
print(lr.score(X_test, y_test))

0.8875

In [ ]:
# now from KNN classification algorithmss

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))

0.9375

In [18]:
# now perform MLP neural Network 
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(solver='lbfgs',
                   alpha=1e-5,
                   hidden_layer_sizes=(2),
                   random_state=100,
                   activation='logistic',
                   max_iter=200)
# fitting
mlp.fit(X_train, y_train)
print(mlp.score(X_test, y_test))

0.925

In [19]:
mlp.coefs_

[array([[159.24766814, 201.93902831],
        [ 49.70117587, 118.91901254]]), array([[2.42084288],
        [4.13106044]])]

In [20]:
mlp.intercepts_

[array([-58.76383198,  40.15350734]), array([-4.85032081])]

In [21]:
mlp.loss_

0.32857562026181036