In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
ds = pd.read_csv(r'./data set/titanic/train.csv')

In [28]:
ds.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [29]:
ds.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [30]:
# Deleting columns that may not effect during classification of 
# dataset and on it result
df = ds.drop(['PassengerId','Name','Ticket','Cabin','Embarked'],axis = 1)
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [31]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [32]:
df.shape

(891, 7)

In [33]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [34]:
df = df.dropna(axis = 0)

In [35]:
df.shape

(714, 7)

In [36]:
# sex column value is showing male and femALE ,, BUT it not workj 
# during prediction bcs prediction work with numeric values 
# MAPPING 
m = {
    'male':0,
    'female':1
}

df.Sex = df.Sex.map(m)

In [37]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    0  22.0      1      0   7.2500
1         1       1    1  38.0      1      0  71.2833
2         1       3    1  26.0      0      0   7.9250
3         1       1    1  35.0      1      0  53.1000
4         0       3    0  35.0      0      0   8.0500

In [46]:
real_x = df.iloc[:,[1,2,3,4,5,6]].values
real_y = df.iloc[:,0].values

print(real_x.shape)
print(real_y.shape)

(714, 6)
(714,)

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(real_x, real_y)

In [48]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape )

(535, 6) (535,)
(179, 6) (179,)

In [49]:
# Sciket Learn 
from sklearn.linear_model import LogisticRegression

In [50]:
lr = LogisticRegression(solver='liblinear', multi_class='ovr')
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [51]:
print(lr.score(X_test,y_test))

0.7653631284916201

In [52]:
print(lr.score(X_train,y_train))

0.8018691588785046

In [53]:
# lbfgs 


from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='lbfgs',multi_class='multinomial')
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.7877094972067039

In [54]:
# Cofficicent  

print(lr.coef_)

[[-6.62560094e-01  1.33592950e+00 -2.37460730e-02 -1.67493998e-01
  -4.97647544e-02  6.87869005e-04]]

In [55]:
df.keys()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [ ]:
# Normalised

In [57]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
cl = KNeighborsClassifier()
cl.fit(X_train,y_train)
print(cl.score(X_train,y_train))
print(cl.score(X_test,y_test))

0.7700934579439253
0.6927374301675978

In [58]:
# DTA decision tree algorithm
from sklearn.tree import DecisionTreeClassifier
cl = DecisionTreeClassifier()
cl.fit(X_train,y_train)
print(cl.score(X_train,y_train))
print(cl.score(X_test,y_test))

0.9850467289719627
0.7430167597765364

In [59]:
# RFA random forest Algorithm
from sklearn.ensemble import RandomForestClassifier
cl = RandomForestClassifier()
cl.fit(X_train,y_train)
print(cl.score(X_train,y_train))
print(cl.score(X_test,y_test))

0.983177570093458
0.770949720670391

In [60]:
# Logistic Regression 
from sklearn.linear_model import LogisticRegression
cl = LogisticRegression()
cl.fit(X_train,y_train)

print(cl.score(X_train,y_train))
print(cl.score(X_test,y_test))

0.8168224299065421
0.7877094972067039