In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
data =pd.read_csv('Position_Salaries PLR DTA RFA.csv')
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
real_x = data.iloc[:,1:2].values
real_y = data.iloc[:,-1].values

In [4]:
real_x, real_y

(array([[ 1],
        [ 2],
        [ 3],
        [ 4],
        [ 5],
        [ 6],
        [ 7],
        [ 8],
        [ 9],
        [10]], dtype=int64),
 array([  45000,   50000,   60000,   80000,  110000,  150000,  200000,
         300000,  500000, 1000000], dtype=int64))

In [5]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(real_x, real_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
lr.score(real_x, real_y)

0.6690412331929895

In [ ]:
from sklearn.preprocessing import PolynomialFeatures 
poly =